<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RDEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RDEditor.Properties.Settings>
            <setting name="LastFileOpened" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoOpenLastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoIndention" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSyntaxHighlight" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSyntaxHighlightRefreshInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value />
            </setting>
            <setting name="VisualStudioCompiler" serializeAs="String">
                <value />
            </setting>
            <setting name="EclipseCompiler" serializeAs="String">
                <value />
            </setting>
            <setting name="CCompiler" serializeAs="String">
                <value />
            </setting>
            <setting name="ExecuteAfterCompile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoTextSize" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value />
            </setting>
        </RDEditor.Properties.Settings>
    </userSettings>
</configuration>